.about-headingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid rgba(0, 0, 0, 0.623);
    /* margin: 35px 0 20px; */
    height: 100px;
    background-color: #fdca1294 ;
}
.about-headingbox{
    text-align: center;
    width: 50%;
    font-family: 'Telefon Black';
    font-size:60px;
    font-weight: 900;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-decoration: double;
    margin:0;
    margin-bottom: -5px;
    text-shadow: 2px 2px 8px #fdcc0c;
}

@media screen and (max-width: 1035px) {
    .about-headingcontainer{
        width:100%;
        max-width: 1035px;
    }
}

@media screen and (max-width: 895px) {
    .about-headingbox{
        font-size: 2.5rem;
    }
    .about-headingcontainer{
        height: 80px;
    }
}

@media screen and (max-width: 650px) {
    .about-headingbox{
        font-size: 2.5rem;
    }
    .about-headingcontainer{
        height: 1.5%;
    }
}

@media screen and (max-width: 620px) {
    .about-headingbox{
        font-size: 2rem;
    }
    .about-headingcontainer{
        height: 70px;
    }
}

@media screen and (max-width: 512px) {
    .about-headingbox{
        font-size: 1.7rem;
    }
    .about-headingcontainer{
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
    .about-headingbox{
        font-size: 1.5rem;
    }
    .about-headingcontainer{
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .about-headingbox{
        font-size: 1.4rem;
    }
    .about-headingcontainer{
        height: 50px;
    }
}


@media screen and (max-width: 380px) {
    .about-headingbox{
        font-size: 1.3rem;
    }
    .about-headingcontainer{
        height: 50px;
    }
}


@media screen and (max-width: 360px) {
    .about-headingbox{
        font-size: 1.1rem;
    }
    .about-headingcontainer{
        height: 40px;
    }
}