.lastcomponent {
  margin-bottom: 150px;
}
.jr_slidercomponents {
  margin-top: 0.1px;
}
.j-css {
  background-color: #f0f0ef7d;
}

.ab-quote {
  padding: 1.8rem 16rem 1.2rem;
  font-size: 40px;
  font-weight: 700;
  color: #484848;
  font-family: "Parisienne", cursive;
  letter-spacing: 2px;
  text-align: right;
}
