.jr_cardLeft {
  margin-right: auto;
  margin-left: 30px;
  height: 40vh;
  min-height: 30vh;
  width: 80%;
  background: linear-gradient(45deg, #0c0200, #2f3131);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
  padding-left: 12vh;
  color: whitesmoke;
  transition: all 0.2s;
  border-top-right-radius: 4vh;
  border-bottom-right-radius: 4vh;
  border-top-left-radius: 2.5vh;
  border-bottom-left-radius: 2.5vh;
  box-shadow:  0.8em 0.4em .4em  #e5aa1d;
}
.jr_components {
  padding-top: 4%;
  
}
.jr_logoLeft {
  /* display: none; */
  height: 140%;
  /* transform: scale(0.8); */
  z-index: 2;
  max-width: 100%;
  position: absolute;
  top: 45%;
  left: 95%;
  transform: translate(-80%, -50%);
  transition: all 0.2s;
  /* background-color: red; */
}
.jr_cardLeft h2 {
  padding-top: 8%;
  font-size: 6vw;
  color: #e5aa1d;
  transition: all 0.2s;
  /* background-color: chartreuse; */
}
.jr_cardLeft p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.2s;
  opacity: 0;
  width: 50vw;
  margin-left: 0.01vw;
  margin-bottom: 1.8vw;
  display: flex;
  justify-content: center;
  font-size: 1.4vw;
  /* background-color: darkgoldenrod; */
}

.jr_cardLeft:hover img {
  left: 93%;
  top: 48%;
  height: 43.5vh;
}
.jr_cardLeft:hover h2 {
  padding-top: 3.8%;
  margin-left: 2%;
  font-size: 4vw;
  margin-bottom: 1vh;
  letter-spacing: 5px;
}
.jr_cardLeft:hover p,
.jr_cardLeft:hover a {
  opacity: 5;
  margin-left: 2%;
  
}

@media only screen and (max-width: 400px ){
  .jr_cardLeft h2 {
    margin-left: -5%;
    font-size: 12vw;
    width: 35vw;
    padding-top: 15%;
  }
  .jr_cardLeft {
    width: 145vw;
    margin: 2vh auto;
    height: 35vh;
  }
  .jr_cardLeft:hover h2 {
    font-size: 3.5vh;
    margin-left: -15%;
    white-space: nowrap;
  }
  .jr_cardLeft:hover p {
    margin-left: -15%;
    font-size: 2.6vh;
    width: 77vw;
  }
  .jr_logoLeft{
    height: 120%;
    left: 100%;
  }
  .jr_cardLeft:hover img{
    height: 105%;
   padding-top: 1%;
   left: 98%;
  }
}

@media only screen and (min-width: 400px )and (max-width: 430px){
  .jr_cardLeft h2 {
    margin-left: -5%;
    font-size: 10vw;
    width: 30vw;
    padding-top: 7%;
  }
  .jr_cardLeft {
    width: 115vw;
    margin: 2vh auto;
    height: 30vh;
  }
  .jr_cardLeft:hover h2 {
    font-size: 4vh;
    margin-left: -15%;
  }
  .jr_cardLeft:hover p {
    margin-left: -16%;
    font-size: 2vh;
    width: 66vw;
  }
  .jr_logoLeft{
    height: 120%;
    left: 100%;
  }
  .jr_cardLeft:hover img{
    height: 105%;
   padding-top: 1%;
   left: 98%;
  }
}

@media only screen and (min-width: 430px )and (max-width: 500px){
  .jr_cardLeft h2 {
    margin-left: -10%;
    font-size: 10vw;
    width: 30vw;
    padding-top: 7%;
  }
  .jr_cardLeft {
    width: 105vw;
    margin: 3vh auto;
    height: 35vh;
  }
  .jr_cardLeft:hover h2 {
    font-size: 4.7vh;
    margin-left: -7%;
  }
  .jr_cardLeft:hover p {
    margin-left: -7%;
    font-size: 2.5vh;
    width: 60vw;
  }
  .jr_logoLeft{
    height: 120%;
    left: 100%;
  }
  .jr_cardLeft:hover img{
    height: 105%;
   padding-top: 1%;
   left: 95%;
  }
}

@media only screen and (min-width: 500px ) and (max-width: 640px) {
  
  .jr_cardLeft h2 {
    margin-left: -10%;
    font-size: 10vw;
    width: 30vw;
    padding-top: 7%;
  }
  .jr_cardLeft {
    width: 90vw;
    margin: 3vh auto;
    height: 35vh;
  }
  .jr_cardLeft:hover h2 {
    font-size: 6vh;
    margin-left: -5%;
  }
  .jr_cardLeft:hover p {
    margin-left: -5%;
    font-size: 2vh;
  }
  .jr_logoLeft{
    height: 120%;
    left: 100%;
  }
  .jr_cardLeft:hover img{
    height: 105%;
   padding-top: 1%;
   left: 95%;
  }
}
@media only screen and (min-width: 640px ) and (max-width:800px){
 
  .jr_cardLeft h2 {
    margin-left: -8%;
    font-size: 8.6vw;
    width: 30vw;
    padding-top: 17%;
  }
  .jr_cardLeft {
    width: 85vw;
    margin: 3vh auto;
    height: 35vh;
    margin-top: 8%;
  }
  .jr_logoLeft{
    height: 130%;
    left: 97%;
  }
  .jr_cardLeft:hover h2 {
    font-size: 5.5vh;
    margin-left: -15%;
  }
  .jr_cardLeft:hover p {
    margin-left: -15%;
    font-size: 2.3vh;
  }
  .jr_cardLeft:hover img{
    height: 110%;
   left: 98%;
  }
}

@media only screen and (min-width: 800px ) and (max-width:1200px){
  .jr_cardLeft h2 {
    margin-left: 1%;
    font-size: 6.6vw;
    width: 10vw;
    padding-top: 5.5%;
  }
  .jr_cardLeft:hover h2 {
    font-size: 6vh;
    margin-left: -3%;
  }
  .jr_cardLeft:hover p {
    margin-left: -3%;
    font-size: 3vh;
  }
  .jr_logoLeft{
    height: 130%;
    left: 95%;
  }
}
