@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);
/* body {
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
} */

.quote {
  max-width: 900px;
  margin: 80px auto;
}

.text-center {
  text-align: center;
}

.quote-card {
  background: black;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  /*  */
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
  text-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
}
/* .quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
} */
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -15px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
@media only screen and (max-width: 450px){
    .quote-card p {
        font-size: 25px;
    }
}

.quote-card.red-card {
  background: none;
  color: black;
  /* box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24); */
}
.quote-card.red-card:before, .quote-card.red-card:after {
  color: #f44336;
}