@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@font-face {
	font-family: 'Telefon Black';
	src: url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2') format('woff2'), url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

.event-container{
	display: flex;
	justify-content: space-evenly;
	height: auto;
	align-items: center;
	margin: 20px 0;
	padding: 20px 0;
	/* background-color: #220c0c !important; */
}
table{
	margin-left: 20px;
}
.parentflex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-card1{
	width: 43vw;
    /* height: 65vh; */
	margin: 20px 0px;
	margin-bottom: 10px;
	padding: 10px;
	/* background-color: #212121 !important; */
	font-family: "Varela Round", sans-serif !important;
	color:black;

	background-color: #fdcc0c;
	/* backdrop-filter: blur(20px); */

	border-radius: 8px;
	box-shadow: 20px 20px 22px rgba(0,0,0,0.2);

}
table .month {
	text-transform: uppercase;
	color: #db2d8e;
	font-size: 25px;
}
table .month-date-devider {
	width: 5vh;
	margin: 1vh 0;
	background-color: #3cbfaf;
	height: 5px;
}
table .date {
	font-size: 50px;
	font-weight: bolder;
	line-height: normal;
}
.event-thumbnail{
	padding: 0 20px;
	padding-right: 0;
	width: 34vw;
	
}
.event-title > h3{
	margin: 3px 10px;
	font-size: 25px;
	font-weight:800;
}
.event-id{
	margin-bottom: 0px;
	margin-left: 20px;
}
.event-location, .event-time{
	display: inline-block;
}
.event-location > img{
	width: 100px;
}
.event-time, .event-location ,.event-quote{
	font-size: 18px;
	font-weight:600;
	color:rgba(20, 20, 20, 0.822);
	
}
.event-time{
	padding-left: 2px;
}
.event-quote{
	width: calc(260px + 90px);
	padding: 4px 10px;
}
.event-form{
	margin-top: 10px;
	margin-left: 10px
}
.event-form .event-formlink{
	width:160px; /* or whatever width you want. */
   	max-width:160px;
	display: inline-block;
	background-color: #3cbfaf;
    color: #fff;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 2px;
    text-decoration: none;
}
@media only screen and (max-width: 1035px) {
	.event-container{
		width: 1035px;
		min-width: 1035px;
	}
}

/* @media only screen and (max-width: 1180px){
	.event-container{
		margin-bottom: 10px;
	}
} */
@media only screen and (max-width: 950px){
	.event-container{
		width: 1010px;
		max-width: 1010px;
		flex-direction: column;
    	justify-content:center;
		align-items: center;
		/* margin-bottom: 10px; */
	}
	.event-thumbnail{
		width: 400px;
		padding: 0;
		margin: 0;
	}
	.event-card1{
		width: 550px;
		max-width: 550px;
		margin: 30px 0px;
		padding: 10px 30px;
		display: inline-block;
	}
}
@media only screen and (max-width: 800px){
	.event-container{
		gap: 10px;
		/* margin-bottom: 10px; */
		justify-items: center;
	}
	/* .event-card1{
		width: 800px; 
   		max-width:800px;
		display: inline-block;
		margin: 0 auto;
		padding-left: 280px;
		padding-right: 220px;
	} */
}

@media only screen and (max-width: 650px){
	div .event-title h3{
		font-size: 48px;
	}
	.event-form .event-formlink{
		font-size: 24px;
		width: 260px;
	}
	.event-location,.event-time,.event-quote{
		font-size: 32px;
		width: auto;
		margin: 0;
		padding: 0;
	}
}
@media only screen and (max-width: 650px){
	.event-card1{
		width: 850px;
		max-width: 850px;
	}
	.event-thumbnail{
		width: 550px;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	.event-card1{
		width: 700px;
		max-width: 700px;
	}
	.event-thumbnail{
		width: 550px;
	}
	.event-location,.event-time,.event-quote{
		font-size: 24px;
		width: auto;
		margin: 0;
		padding: 0;
	}
	div .event-title h3{
		font-size: 48px;
	}
	.event-form .event-formlink{
		font-size: 24px;
		width: 260px;
	}	
}
