@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@font-face {
	font-family: 'Telefon Black';
	src: url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2') format('woff2'), url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

.container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
	margin-bottom: 50px;
	background-color: #212121;
}
table{
	margin-left: 20px;
}
.parentflex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	width: 40vw;
    height: 70vh;
	margin: 20px 0px;

	font-family: "Varela Round", sans-serif;
	color:#acacac;
}
table .month {
	text-transform: uppercase;
	color: #db2d8e;
	font-size: 25px;
}
table .month-date-devider {
	width: 5vh;
	margin: 1vh 0;
	background-color: #3cbfaf;
	height: 5px;
}
table .date {
	font-size: 50px;
	font-weight: bolder;
	line-height: normal;
}
.thumbnail{
	padding: 20px 40px;
	width: 300px;
	height: 300px;
}
.title > h3{
	margin: 3px 10px;
	font-size: 25px;
	font-weight:550;
}
.id{
	margin-bottom: 0px;
	margin-left: 20px;
}
.location, .time{
	display: inline-block;
}
.location > img{
	width: 100px;
}
.time, .location ,.quote{
	font-size: 13px;
	
}
.time{
	padding-left: 2px;
}
.quote{
	width: calc(260px + 90px);
	padding: 4px 10px;
}
.form{
	margin-top: 10px;
	margin-left: 10px
}
.form > a{
	width:140px; /* or whatever width you want. */
   	max-width:140px;
	display: inline-block;
	background-color: #3cbfaf;
    color: #fff;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 2px;
    text-decoration: none;
}


@media only screen and (max-width: 1180px){
	.container{
		margin-bottom: 100px;
	}
}
@media only screen and (max-width: 950px){
	.container{
		width: 100vw;
		flex-direction: column;
    	justify-content:space-between;
		align-items: center;
		margin-bottom: 100px;
	}
	.card{
		margin: 60px 0px;
		display: inline-block;
	}
}
@media only screen and (max-width: 800px){
	.container{
		gap: 120px;
		margin-bottom: 140px;
	}
	.card{
		width:auto; 
   		max-width:auto;
		display: inline-block;
		margin: 0 auto;
		padding-left: 280px;
		padding-right: 220px;
	}
}